/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-04-2017, 13:04:50
    Author     : Stefan-VpcEB3J1E
*/
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;  
    -fx-font-size: 15px;  

}
.jfx-snackbar-action {
    -fx-text-fill: #ff4081; 
}

.jfx-snackbar-content
{
    -fx-background-color: #FF3A3A;
    -fx-background-radius: 25px;
    /*-fx-background-size: 10px;*/  
    -fx-background-image: url('Info.png');
    /*-fx-background-size: 30px;*/
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5%;
}
.tab *.tab-label 
{
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-rotate: 90;
}

.tab 
{
    -fx-padding: 40px 5px 40px 5px;
}
.jfx-tab-pane .tab-header-background 
{
    /*-fx-background-color: rgb(198,137, 23);*/
    -fx-background-color: rgb(210,160, 85)!important;
}

.jfx-tab-pane .tab-header-area .jfx-rippler
{
    -fx-rippler-fill:rgb(255,255,255);
}
.jfx-tab-pane .tab-header-area .tab-selected-line
{
    -fx-stroke : rgb(255,255,255);;
}
.defaultBackgroundColor
{
    -fx-background-color: rgb(236,236,236);
}

.LoginVolunteerBtn
{
    -fx-background-color: transparent;
    -fx-border-color: rgb(173,173,173);
    -fx-border-radius: 10px;

}
.LoginVolunteerBtn:hover
{
    -fx-border-radius: 10px;
    -fx-border-style: dashed;
    -fx-border-color: rgb(173,173,173);
}
.topViewPane
{
    -fx-background-color: rgb(225,225,225);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgb(137,137,137);

}
.btnVolunteerView
{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: #e0e0e0;
    -fx-text-fill: black;
}
