/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-04-2017, 10:34:07
    Author     : User
*/

.tab *.tab-label 
{
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-rotate: 90;
}

.tab 
{
    -fx-padding: 40px 5px 40px 5px;
}
.jfx-tab-pane .tab-header-background 
{
    /*-fx-background-color: rgb(198,137, 23);*/
    -fx-background-color: rgb(210,160, 85);
}
.jfx-tab-pane .tab-header-area .jfx-rippler
{
    -fx-rippler-fill:rgb(255,255,255);
}
.jfx-tab-pane .tab-header-area .tab-selected-line
{
    -fx-stroke : rgb(255,255,255);;
}
.defaultBackgroundColor
{
    -fx-background-color: rgb(236,236,236);
}

.LoginVolunteerBtn
{
    -fx-background-color: transparent;
    -fx-border-color: rgb(173,173,173);
    -fx-border-radius: 10px;

}
.LoginVolunteerBtn:hover
{
    -fx-border-radius: 10px;
    -fx-border-style: dashed;
    -fx-border-color: rgb(173,173,173);
}
.topViewPane
{
    -fx-background-color: rgb(225,225,225);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgb(137,137,137);

}
.jfx-snackbar-content {
    -fx-background-color: #585858;
    -fx-background-radius: 25px;
    -fx-background-size: 10px;
}
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;  
    -fx-font-size: 15px;  
    
}
.jfx-snackbar-action {
    -fx-text-fill: #ff4081; 
}

