/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-04-2017, 10:34:07
    Author     : User
*/

.tab *.tab-label 
{
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-rotate: 90;
}

.tab 
{
    -fx-padding: 40px 5px 40px 5px;
}
.jfx-tab-pane .tab-header-background 
{
    /*-fx-background-color: rgb(198,137, 23);*/
    -fx-background-color: rgb(210,160, 85)!important;
}

.jfx-tab-pane .tab-header-area .jfx-rippler
{
    -fx-rippler-fill:rgb(255,255,255);
}
.jfx-tab-pane .tab-header-area .tab-selected-line
{
    -fx-stroke : rgb(255,255,255);;
}
.defaultBackgroundColor
{
    -fx-background-color: rgb(236,236,236);
}

.LoginVolunteerBtn
{
    /*    -fx-background-color: transparent;
        -fx-border-color: rgb(173,173,173);
        -fx-border-radius: 10px;*/

    -fx-background-color: rgb(235,235,235);
    -fx-border-color: #2196f3;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 0 0 4 0;

}
.LoginVolunteerBtn:hover
{
    -fx-border-radius: 10px;
    -fx-background-color: rgb(225,225,225);
    /*-fx-border-style: dashed;*/
    /*    -fx-border-color: rgb(173,173,173);*/
    -fx-border-color: #64b5f6;
}
.topViewPane
{
    -fx-background-color: rgb(225,225,225);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgb(137,137,137);

}
.jfx-snackbar-content {
    -fx-background-color: #323232;
    -fx-background-radius: 25px;
    /*-fx-background-size: 40px;*/
    -fx-background-image: url('Apply.png');
    /*-fx-background-size: 30px;*/
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5%;

}
.jfx-snackbar-toast {
    -fx-text-fill: white; 
    -fx-font-size: 15px;


}
.jfx-snackbar-action {
    -fx-text-fill: #51b0ff; 
    -fx-underline:true;
    -fx-border-color: transparent;
    -fx-background-color: transparent;

}
.jfx-snackbar-action:hover
{
    -fx-cursor: hand;
}

.btnVolunteerView
{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: #e0e0e0;
    -fx-text-fill: black;
}

.VolunteerStatisticsGridPane
{
    -fx-background-color: rgb(235,235,235);
    -fx-border-color: #2196f3;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 0 0 4 0;

}
.VolunteerStatisticsTotalHours
{
    -fx-background-color: rgb(235,235,235);
    -fx-border-color: #45506e;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 0 0 4 0;
}
.lblTotHours
{
    -fx-border-color: black, transparent, black;
    -fx-border-width: 0 0 1 0, 0 0 1 0, 0 0 1 0;
    -fx-border-insets: 0 0 1 0, 0 0 2 0, 0 0 3 0;
}
/*.jfx-text-field
{
   
}*/
